<div class="cont">

<div class="navbar">    
    <nav>
        <a routerLink="/home">HOME</a>
        <a href="#about">ABOUT</a>
        <!-- <a href="#footer">CONTACT</a> -->
        <a routerLink="/login">LOGIN</a>
    </nav>
</div>
    <b> <h1>SALES FORECAST</h1></b>

<div class="container">   
     <button routerLink="/signup">SignUp</button>
     <button class="login" routerLink="/login">Login</button>

    </div>
</div>


<div class="abt" id="about">

   
    <div class="abtcont">
        <h2> ABOUT US </h2>
    <p> Sales forecasting is the process of estimating future 
        sales based on historical data, market trends, and other 
        relevant factors. It is a crucial aspect of business planning 
        and decision-making, as it helps organizations anticipate and 
        prepare for future sales volumes, revenue, and resource allocation.
        Sales forecasts consider a range of factors that can influence sales performance. 
        These may include market conditions, industry trends, customer preferences, 
        competitor activities, pricing strategies, marketing campaigns, economic indicators,
         and seasonality. By considering these factors, businesses can adjust their forecasts 
         accordingly and make proactive decisions.While sales forecasting aims to provide 
         reliable estimates, it's important to acknowledge that forecasts are not always
          100% accurate. External factors or unexpected events can impact sales performance. 
          Therefore, it's crucial to regularly review and update forecasts based on actual 
          sales data, market feedback, and changing business conditions. 
    </p>
    </div>
     <div class="abtimg">
        <img src="../assets/1.jpg">
     </div>  
     
    
</div>

<footer class="footer" id="footer">
    <div class="footer-content">
      <p>&copy; 2023 Sales Forecasting. All rights reserved.</p>
    </div>
  </footer>
  