<div class="navbar">    
    <nav>
        <a routerLink="/home">HOME</a>
        <a routerLink="/upload">BACK</a>
        <a routerLink="/login">LOGOUT</a>
    </nav>
  </div>

<iframe title="dash" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f14e9c90-e617-4002-984f-36f4a486537c&autoAuth=true&ctid=70ad6609-70d8-4962-a379-3581f839202a" frameborder="0" allowFullScreen="true"></iframe>


<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2023 Sales Forecasting. All rights reserved.</p>
    </div>
  </footer>