<div class="full">


  <div class="signform">
    <h1>Signup</h1>
    <form (ngSubmit)="signup()" #signupForm="ngForm" novalidate>
      <div>
        <label for="username">Username:</label>
        <input type="text" placeholder="Enter The Username" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" placeholder="Enter The Password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" placeholder="Enter The Email Adress" id="email" name="email" [(ngModel)]="email" required>
      </div>
       <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div *ngIf="message" class="success-message">
        {{ message }}
      </div>

      <div> <p>Already Have An Account? <a routerLink="/login">Login</a> </p></div>

      <div>
        <button (click)="showMessage()" type="submit">Signup</button>
      </div>
    </form>
  </div>
  <div class="signimg">
    <img src="../assets/2.jpg" alt="signup">
  </div>
</div>